<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106395754985-49gshn2jbmcvg5g979rra2oqnqp6h3nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106395754985-49gshn2jbmcvg5g979rra2oqnqp6h3nt</string>
	<key>API_KEY</key>
	<string>AIzaSyCmnNlkhJrGoII1fP28kCsnWRD7n4slSd8</string>
	<key>GCM_SENDER_ID</key>
	<string>106395754985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productivityApp</string>
	<key>PROJECT_ID</key>
	<string>productivity-app-f3674</string>
	<key>STORAGE_BUCKET</key>
	<string>productivity-app-f3674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106395754985:ios:4f515ffd401db29d22ab78</string>
</dict>
</plist>